@import "tailwindcss";

@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {

  font-family: 'Inter', sans-serif;
  background-color: #f6f8fa;
  color: #1f2937;
  line-height: 1.6;
}

button {
  font-family: 'Inter', sans-serif;
}
@import "tailwindcss";
